* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #7f00ff, #e100ff);
    color: white;
}

h1{
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}

.submit {
    background-color:powderblue;
    color: purple;
}

.success , .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success {
    background:  green;
}

.error {
    background: red;
}